<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <logger name="TestToolLogger">
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="RollingFileAppenderError" />
      <appender-ref ref="ColoredConsoleAppender" />
    </logger>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="RollingFileAppenderError" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/trace.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date | [%thread] | %-5level | %type| %method  - %message%newline%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppenderError" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/error.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date | [%thread] | %-5level | %type| %method  - %message%newline%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="ERROR" />
      </filter>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="INFO" />
        <foreColor value="White, HighIntensity" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Blue, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%%date | [%thread] | %-5level | %type| %method  - %message%newline%newline" />
      </layout>
    </appender>
  </log4net>
  <connectionStrings>
    <remove name="DatabaseHarnessTest" />
    <add name="DatabaseHarnessTest" connectionString="Data Source=xcase-sqlvm;Initial Catalog=QAWilco;uid=openadmin;Password=p@$$w0rd2;integrated security=false" providerName="" />
    <remove name="myconn" />
    <add name="myconn" connectionString="" providerName="" />
    <remove name="Wilco" />
    <add name="Wilco" connectionString="" providerName="" />
  </connectionStrings>
  <appSettings>
    <add key="ActionPause" value="2" />
    <add key="Application" value="" />
    <add key="AppVersion" value="3.1.0" />
    <add key="AttachmentsDirectory" value="C:\xcase\TestFiles\Attachments" />
    <add key="AzureConnectionString" value="DefaultEndpointsProtocol=https;AccountName=accountName;AccountKey=accountKey" />
    <add key="AzureTenant" value="QAWilco" />
    <add key="BaseOpenMobileUrl" value="http://openserver/OpenMobile" />
    <add key="CommonEndpoint" value="https://xcase-service.cloudapp.net:8085/CommonService.svc" />
    <add key="ConflictsEndpoint" value="https://xcase-service.cloudapp.net:8085/ConflictsService.svc" />
    <add key="ConflictsSearchenginewebservice" value="" />
    <add key="ConnectionString" value="Data Source=Localhost;Initial Catalog=OpenDb;uid=sa;Password=password;integrated security=false" />
    <add key="CorporateTreeDataprovider" value="DunAndBradstreet" />
    <add key="CorporateTreeApi" value="" />
    <add key="CorporateTreeUri" value="http://dnbdirect-api.dnb.com/DnBAPI-14" />
    <add key="CorporateTreeUsername" value="api1101" />
    <add key="CorporateTreePassword" value="welcome" />
    <add key="CorporateTreeUpdatePeriod" value="Daily" />
    <add key="CorporateTreeDataprovider2" value="Hoovers" />
    <add key="CorporateTreeApi2" value="" />
    <add key="CorporateTreeUri2" value="http://hapi-dev.hoovers.com/HooversAPI-40/" />
    <add key="CorporateTreeUpdatePeriod2" value="Daily" />
    <add key="CorporateTreeDataprovider3" value="BureauVanDijk" />
    <add key="CorporateTreeUri3" value="http://orbis2.bvdep.com/orbisneo/scripts/WebServices/RemoteAccess.asmx" />
    <add key="CorporateTreeUsername3" value="xcasetest1" />
    <add key="CorporateTreePassword3" value="password" />
    <add key="CorporateTreeUpdatePeriod3" value="Daily" />
    <add key="CorporateTreeDataprovider4" value="Avention" />
    <add key="CorporateTreeUri4" value="" />
    <add key="CorporateTreeApi4" value="" />
    <add key="CorporateTreeUpdatePeriod4" value="Daily" />
    <add key="CorporateTreeDataprovider5" value="None" />
    <add key="CreateDatabase" value="false" />
    <add key="CreateSchema" value="false" />
    <add key="CredentialsDomain" value="XCASE" />
    <add key="CredentialsUsername" value="Administrator" />
    <add key="CredentialsPassword" value="password" />
    <add key="DatabaseDatabase" value="OpenDb" />
    <add key="DataBaseDomain" value="" />
    <add key="DatabasePassword" value="password" />
    <add key="DatabaseServer" value="databaseserver" />
    <add key="DatabaseUsername" value="sa" />
    <add key="DatabaseIntegrated" value="false" />
    <add key="Deployment" value="Azure" />
    <add key="DocumentPath" value="" />
    <add key="EnableConflicts" value="1" />
    <add key="EnableEditingConflictsReportNotification" value="1" />
    <add key="EnableScoring" value="1" />
    <add key="EntityPerformance" value="false" />
    <add key="ExchangeDomain" value="XCASE" />
    <add key="ExchangeLongDomain" value="internal.xcase.net" />
    <add key="ExchangePassword" value="password" />
    <add key="ExchangePause" value="15" />
    <add key="ExchangeURL" value="http://emailserver/Exchange" />
    <add key="ExchangeUserName" value="llawyer" />
    <add key="ExchangeViewerUserName" value="" />
    <add key="ExchangeViewerPassword" value="" />
    <add key="ExchangePause" value="15" />
    <add key="HideIntake" value="false" />
    <add key="HideConflicts" value="false" />
    <add key="Host" value="xcase.cloudapp.net" />
    <add key="IISUsername" value="Administrator" />
    <add key="IISPassword" value="password" />
    <add key="IISServer" value="iisserver" />
    <add key="IISDomain" value="XCASE" />
    <add key="IISApplication" value="Open" />
    <add key="IISConnectionString" value="iisserver=iisserver;domain=XCASE;username=Administrator;password=password" />
    <add key="IntakeEndpoint" value="https://xcase-service.cloudapp.net:8085/IntakeService.svc" />
    <add key="TermsEndpoint" value="https://xcase-service.cloudapp.net:8085/TermsService.svc" />
    <add key="IntegrationDatabaseDomain" value="" />
    <add key="IntegrationDatabaseServer" value="databaseserver" />
    <add key="IntegrationDatabaseDatabase" value="" />
    <add key="IntegrationDatabaseUsername" value="sa" />
    <add key="IntegrationDatabasePassword" value="password" />
    <add key="IntegrationDatabaseIntegrated" value="false" />
    <add key="IntegrationConnectionString" value="Data Source=databaseserver;Initial Catalog=catalog;uid=sa;Password=password;integrated security=false" />
    <add key="IntegrationDatabaseServer" value="databaseserver" />
    <add key="IntegrationDatabaseDatabase" value="" />
    <add key="IntegrationDatabaseUsername" value="sa" />
    <add key="IntegrationDatabasePassword" value="password" />
    <add key="IntegrationDatabaseIntegrated" value="false" />
    <add key="IntegrationTestConnectionString" value="Data Source=databaseserver;Initial Catalog=QAIntake_TEST;uid=sa;Password=password;integrated security=false" />
    <add key="IntegrationDatabaseServer" value="databaseserver" />
    <add key="IntegrationDatabaseDatabase" value="" />
    <add key="IntegrationDatabaseUsername" value="sa" />
    <add key="IntegrationDatabasePassword" value="password" />
    <add key="IntegrationDatabaseIntegrated" value="false" />
    <add key="IntegrationDevelopmentConnectionString" value="Data Source=databaseserver;Initial Catalog=QAIntake_DEVELOPMENT;uid=sa;Password=password;integrated security=false" />
    <add key="IntegrationBuilderWsdlUrl" value="https://10.147.2.7/rest" />
    <add key="IntegrationBuilderUsername" value="admin" />
    <add key="IntegrationBuilderPassword" value="" />
    <add key="LocalJavaScriptUrl" value="" />
    <add key="LocalStyleSheetUrl" value="" />
    <add key="WsdlUrlDev" value="https://10.147.2.7/rest" />
    <add key="UsernameDev" value="admin" />
    <add key="PasswordDev" value="" />
    <add key="WsdlUrlTest" value="https://10.147.2.7/rest" />
    <add key="UsernameTest" value="admin" />
    <add key="PasswordTest" value="" />    
    <add key="IOSAppiumUrl" value="http://127.0.0.1:4723/wd/hub" />
    <add key="Log4NetRootLevel" value="DEBUG" />
    <add key="Logintype" value="CloudForms" />
    <add key="MailIsUseSSL" value="0" />
    <add key="MailSMTPhost" value="smtpserver.xcase.net" />
    <add key="MailSMTPPassword" value="password" />
    <add key="MailSMTPUserName" value="Administrator" />
    <add key="MailSMTPTimeout" value="60" />
    <add key="MessengerConfiguration" value="" />
    <add key="OpenApppool" value="WilcoAppPool" />
    <add key="Password" value="" />
    <add key="ReportingApplication" value="ReportServer" />
    <add key="ReportingServer" value="reportserver" />
    <add key="ReportingServerConflictsReportPath" value="/ConflictsReport/ConflictsReport" />
    <add key="ReportingServerPassword" value="password" />
    <add key="ReportingServerUrl" value="http://reportingserver/ReportServer" />
    <add key="ReportingServerUsername" value="XCASE\Administrator" />
    <add key="RequestPerformance" value="false" />
    <add key="RestartIIS" value="true" />
    <add key="RunCreateReferenceData" value="false" />
    <add key="SchedulerService" value="" />
    <add key="Scheme" value="https" />
    <add key="SearchEngineHost" value="localhost" />
    <add key="SearchEnginePort" value="9200" />
    <add key="SearchEngineService" value="esearch" />
    <add key="SearchEngineSynonymFile" value="" />
    <add key="SearchEngineUrl" value="http://localhost:9200" />
    <add key="SearchPerformance" value="false" />
    <add key="SJB" value="" />
    <add key="TemplatePath" value="" />
    <add key="TempPath" value="" />
    <add key="TermsEndpoint" value="https://xcase-service.cloudapp.net:8085/TermsService.svc" />
    <add key="TestToolLocation" value="" />
    <add key="TestFilesDirectory" value="C:\xcase\TestFiles" />
    <add key="TimeZoneID" value="" />
    <add key="Username" value="User.Name" />
    <add key="WebServiceJavaScriptUrl" value="" />
    <add key="WebServicePassword" value="" />
    <add key="WebServiceStyleSheetUrl" value="" />
    <add key="WebServiceUrl" value="" />
    <add key="WebServiceUsername" value="QAWilco\Admin" />
    <add key="WorkflowBaseUrl" value="" />
    <add key="WorkflowRetryInterval" value="" />
    <add key="WorkflowMaxRetries" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualBasic" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualC" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.140" newVersion="3.1.1.140" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlSanitizationLibrary" publicKeyToken="d127efab8a9c114f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>