<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  
    <appSettings>
      <!-- Logging configuration -->
      <!-- (uncomment one to use one of the logging mechanism in the application). -->

      <!-- Write log in the database. It gives the ability to see results of tests execution using web UI. -->
      <!-- Value should be presented in the following format: -->
      <!-- value="-messengerType WebServiceClientGeneric.DatabaseMessenger -messengerTypeConfiguration dbHost=.;dbDatabase=QATestResults;dbUsername=sa;dbPassword=" -->
      <add key="MessengerConfiguration" value="" />

      <!-- Write log in the file. -->
      <!-- Value should be presented in the following format: -->
      <!-- value="-messengerType WebServiceClientGeneric.XMLMessenger -messengerTypeConfiguration outputFile=Results.xml;outputDirectory=C:/results" -->
      <!-- <add key="MessengerConfiguration" value="" /> -->

      <!-- Write log in the file and in the database. -->
      <!-- Value should be presented in the following format: -->
      <!-- value="messengerType WebServiceClientGeneric.CompositeMessenger -messengerTypeConfiguration XMLMessenger;outputFile=Results.xml;outputDirectory=C:/results!DatabaseMessenger;dbHost=Qawin1;dbDatabase=QATestResults;dbUsername=sa;dbPassword=" -->
      <!-- <add key="MessengerConfiguration" value="" /> -->

      <!-- Locations variables. -->
      <add key="TestFilesDirectory" value="" />
      
      <!-- Variables. -->
      
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
